<div class="flex flex-wrap  justify-content-center card-container gap-4"  >
 
    <mat-card class="col-12 md:col-3 lg:col-2  " *ngFor="let heroe of heroes" >
        <mat-card-title>{{ heroe.superhero }}</mat-card-title>
        <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
        <img mat-card-image [src]="heroe | imagen">
        <mat-card-content>
            <h3>{{ heroe.publisher }}</h3>
            <p>
                Primera aparicion: <strong> {{ heroe.first_appearance }} </strong>
                <br>
                Personajes: <strong> {{ heroe.characters }} </strong>
            </p>
        </mat-card-content>
    
        <mat-card-actions>
            <button mat-button 
                    color="warn"
                    [routerLink]="['/heroes',heroe.id]">Leer mas...</button>
        </mat-card-actions>
        <mat-card-actions>
            <button mat-button 
                    color="info" 
                    [routerLink]="['/heroes/editar',heroe.id]">Editar</button>
        </mat-card-actions>
    </mat-card>
    
   
</div>